{% extends 'layout.html'  %}

{% load static %}


{% block body %}
    <!-- Home Section -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<section id="home-section">
    <div class="ld-container">
        <div>
            <p class="slide-in">Great Deals! <br>End of Year Sale</p>
            <button id="home-btn" class="slide-in">Shop Now</button>
        </div>
        <img class="slide-in-right"  src="{% static 'assets/flash_sale.png' %}" alt="">
    </div>

    <!-- Category Section -->
    <div class="ctg-section">
        <p> Browse by Category</p>
        <div class="ctg-cards">
            <div class="ctg-card">
                <img src="{% static 'assets/charger.png' %}" alt="">
                    <div class="card-overlay">
                        <h1>Ultra fast chargers!</h1>
                    </div>  
            </div>
            <div class="ctg-card">
                <img src="{% static 'assets/smart_watch.jpg' %}" alt="">
                <div class="card-overlay">
                    <h1>Ultra fast chargers!</h1>
                </div>  
            </div>
            <div class="ctg-card">
                <img src="{% static 'assets/powerbank_1.jpg' %}" alt="">
                <div class="card-overlay">
                    <h1>Ultra fast chargers!</h1>
                </div>  
            </div>
            <div class="ctg-card">
                <img src="{% static 'assets/p9.jpg' %}" alt="">
                <div class="card-overlay">
                    <h1>Ultra fast chargers!</h1>
                </div>  
            </div>
        </div>
    </div>
    <!-- Why us section -->
<h2 class="why-us-heading">Why Choose <span>Us</span></h2>
<div class="why-us-container">
  <div class="why-us-card-container">
    <div class="why-us-card whyusanim ">
      <i class="fa-solid fa-heart"></i>
      <h4>Satisfaction Guarantee</h4>
      <p>
        We're here to help you find the perfect phone and laptop accessories.
      </p>
    </div>
    <div class="why-us-card whyusanim">
      <i class="fa-solid fa-shield-alt"></i>
      <h4>Warranty</h4>
      <p>We offer a 1 year warranty on all our products</p>
      <p></p>
    </div>
    <div class="why-us-card whyusanim">
      <i class="fa-solid fa-bullhorn"></i>
      <h4>Customer Service</h4>
      <p>
        We're here to help you find the perfect phone and laptop accessories.
      </p>
    </div>
    <div class="why-us-card whyusanim">
      <i class="fa-solid fa-truck"></i>
      <h4>Free Delivery</h4>
      <p>
        We deliver products to your doorstep.
      </p>
    </div>
  </div>
</div>
<!-- Featured products -->
 <section class="ft-section">
    <h1>Best Selling Products</h1>
    {% for featured_products in featured_products %}
    <div class="ft-cards">
      <div class="ft-card">
        <img src="{{ featured_products.image.url }}" alt="">
          <div class="ft-card-text">
          <h3>{{ featured_products.title }}</h3>
          <p>{{ featured_products.price }}</p>
          </div>
        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="ft-card-btn">
                   <a href=""><button>Add to Cart</button></a>
       
          </a>
        </div>
 
          </div>
    
      {% endfor %}
    </div>
  </div>
 </section>
 <!-- Brand section -->
   <section class="brand-section">
    <h1>Our Brands</h1>
    {% for brands in brands %}
    <div class="brand-container">
    <div class="brand-imgs">
      <img src=" {{ brands.brand_image.url }}" alt="">
    </div>
    </div>
    {% endfor %}
 </section>
<!-- Testimonials Section -->
<!-- Newsletter Section -->
<section id="nlt-section">
  <div class="nlt-container">
    <div class="nlt-text">
      <h2>Subscribe to our <span>Channels</span></h2>
      <p>Stay updated with the latest products and offers</p>
    </div>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="nlt-form">
          {{newsletterform.email}}
        <a href="{% url  'subscribe' %}"><button type="submit">Subscribe</button></a>
          </div>
      </form>
  </div>
</section>
<!-- Footer  section -->
<section id="footer-section">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="{% static  'assets/zipky-logo.jpg' %}" alt="" />
    </div>
    <div class="footer-address">
      <h3>Find <span>Us</span></h3>
      <p><b>Physical location: <br>
      </b>
        RNG Plaza, 3rd Floor, Ronald Ngala Street, Nairobi <br>
        
        Viking House, 1st Floor, Westlands, Nairobi <br>
        
        Beaver House, 1st Floor, Tom Mboya Street, Nairobi <br> 

        <b> Opening Hours: </b><br>

          Mon - Sat <br>
          
          9AM - 7PM <br>
         
        <b>Sunday</b><br>
          
          10AM - 6PM <br>
          
         <b>Phone Number:</b><br>
          
          (+254) 728274594<br>
          
          (+254) 733131155<br>
          
          (+254) 725646962</p>
    </div>
    <div class="footer-links">
      <ul>
        <h3>Quick Links</h3>
        <a href="">Products</a>
      <a href="">How to Shop</a>
        <a href="">Checkout Error</a>
        <a href="">Terms and Conditions</a>
       <a href="">Return and Refund Policy</a>
        <a href="">Privacy Policy</a>
      </ul>
    </div>
    <div class="footer-social-media ">
      <p>Follow <span>Us:</span> </p>
    <ul>
    <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li> 
    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
        </div>
</section>







{% endblock %}